# Where things are
# source              : . #Cannot change on github pages
destination         : ./_site
collections_dir     : .
plugins_dir         : _plugins # takes an array of strings and loads plugins in that order
layouts_dir         : _layouts
data_dir            : _data
includes_dir        : _includes
sass:
  sass_dir: _sass
collections:
  posts:
    output          : true
theme : minima
  #title: LibreMath
  #subtitle: 
  #author: Gabriel Gress
  #logo: logo.png

# Handling Reading
#safe                : false #Cannot change on github pages
include             : [".htaccess"]
exclude             : ["Gemfile", "Gemfile.lock", "node_modules", "vendor/bundle/", "vendor/cache/", "vendor/gems/", "vendor/ruby/"]
keep_files          : [".git", ".svn"]
encoding            : "utf-8"
markdown_ext        : "markdown,mkdown,mkdn,mkd,md"
strict_front_matter : false

# Filtering Content
show_drafts         : null
limit_posts         : 0
future              : false
unpublished         : false

# Plugins
whitelist           : []
plugins             : []

# Conversion
markdown            : kramdown
# highlighter         : rouge #Cannot change on github pages
# lsi                 : false #Cannot change on github pages
excerpt_separator   : "\n\n"
#incremental         : false #Cannot change on github pages

# Serving
detach              : false
port                : 4000
host                : 127.0.0.1
baseurl             : "/LibreMath" # does not include hostname
show_dir_listing    : false

# Outputting
permalink           : /:categories/:title/
paginate_path       : /page:num
timezone            : null

quiet               : false
verbose             : false
defaults            : []

liquid:
  error_mode        : warn
  strict_filters    : false
  strict_variables  : false

#gist:
#  noscript: false #Cannot change on github pages

# Markdown Processors
kramdown:
  auto_ids          : true
  entity_output     : as_char
  toc_levels        : [1, 2, 3, 4, 5, 6]
  smart_quotes      : lsquo,rsquo,ldquo,rdquo
  input             : GFM
  hard_wrap         : false
  footnote_nr       : 1
  show_warnings     : false
  # math_engine: mathjax #Cannot change on github pages
  # syntax_highlighter: rouge #Cannot change on github pages
